
@{
    ViewBag.Title = "Home Page";
}

<form action="Index.cshtml">
<h2>Control 1</h2>
@Html.Partial("HTMLEditor", "Control1")   
<h2>Control 2</h2>    
@Html.Partial("HTMLEditor", "Control2")       
<h2>Control 3</h2>
@Html.Partial("HTMLEditor", "Control3")   
<h2>Control 4</h2>
@Html.Partial("HTMLEditor", "Control4")   
<h2>Control 5</h2>
@Html.Partial("HTMLEditor", "Control5")   
<h2>Control 6</h2>
@Html.Partial("HTMLEditor", "Control6")
<h2>Control 7</h2>
@Html.Partial("HTMLEditor", "Control7")
<h2>Control 8</h2>
@Html.Partial("HTMLEditor", "Control8")
<h2>Control 9</h2>
@Html.Partial("HTMLEditor", "Control9")
<h2>Control 10</h2>
@Html.Partial("HTMLEditor", "Control10")
<h2>Control 11</h2>
@Html.Partial("HTMLEditor", "Control11")
<h2>Control 12</h2>
@Html.Partial("HTMLEditor", "Control12")

</form>